header{
    background-image: url('../../images/banner.jpg');
    background-size: 100% 360px;
    background-repeat: no-repeat;
    height: 360px;
}
.header-logo{
    width: 2rem;
}
.title{
    margin-top: 250px;
    background-color: rgba(144, 238, 144, 0.486);
    display: inline-block;
    margin-left: 5vw;
    font-size: 50px;
    color: blue;
}